<include file="Public:header" />
<style>

    .table-list {margin:20px 10px;}
</style>

<div class="pad_lr_10">
    <div class="table-list picbox">
        <table width="100%" cellspacing="0">

            <form method="get" name="myform">
                <input type="hidden" name="m" value="Admin">
                <input type="hidden" name="c" value="{$controller_name}">
                <input type="hidden" name="a" value="do{$action_name}">
                <input type="hidden" name="moduleid" value="{$moduleid}">
                <input type="hidden" name="iscreatehtml" value="1">

                <tr>
                    <th align="center" width="150">{:L(select_site)}</th>
                    <th align="center" width="594">{:L(chose_manage)}</th>
                </tr>


                <tr align="center">
                    <td valign="top">
                        <select name="site_id" id="site_id" size="2" style="margin:10px;height:300px;width:130px;">
                            <option value='' selected>{:L(select_site)}</option>
                            <volist name="site_list" id="vo">
                                <option value='{$vo.site_id}'>{$vo.site_name}</option>
                            </volist>
                        </select>
                    </td>


                    <td><input type="submit" style="margin:20px;" name="dosubmit" value="开始更新首页" class="btn" ></td>
                </tr>

            </form>
        </table>

    </div>
</div>