<include file="Public:header" />
<!--站点管理-->
<div class="pad_lr_10">

    <form name="searchform" method="get" >
        <table width="100%" cellspacing="0" class="search_form">
            <tbody>
                <tr>
                    <td>
                        <div class="explain_col">
                            <input type="hidden" name="m" value="Web" />
                            <input type="hidden" name="c" value="Site" />
                            <input type="hidden" name="a" value="index" />
                            <input type="hidden" name="menuid" value="{$menuid}" />
                            &nbsp;&nbsp;{:L('site_name')} :
                            <input type="text" name="site_name" id="site_name" value="{$search.site_name}" style="width:155px;height:20px;">
                            &nbsp;&nbsp;{:L('site_code')} :
                            <input type="text" name="site_code" id="site_code" value="{$search.site_code}" style="width:155px;height:20px;">
                            <input type="submit" name="search" class="btn" value="搜索" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="textbox">
        <div class="picbox" role="table">
            <div class="J_tablelist table_list" data-acturi="{:U('Site/ajax_edit')}">
                <table width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                            <th width="40">ID</th>
                            <th>{:L('site_name')}</th>
                            <th>{:L('site_code')}</th>
                            <th>{:L('site_url')}</th>
                            <th>{:L('site_status')}</th>
                            <th width=100>{:L('operations_manage')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="val" >
                        <tr>
                            <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.site_id}"></td>
                            <td align="center">{$val.site_id}</td>
                            <td align="center">{$val.site_name}</td>
                            <td align="center">{$val.site_code}</td>
                            <td align="center">{$val.site_url}</td>
                            <td align="center"><if condition="$val.status eq 1">{:L('yes')}<else/>{:L('no')}</if></td>
                        <td align="center">
                            <a href="{:U('Site/edit', array('site_id'=>$val['site_id'],'menuid'=>$menuid))}">{:L('edit')}</a> |
                            <a href="javascript:;" class="J_confirmurl" data-uri="{:U('Site/delete', array('site_id'=>$val['site_id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['site_name'])}">{:L('delete')}</a>
                        </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Site/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>