<include file="Public:header" />
<!--栏目管理-->
<div class="pad_lr_10">

    <div class="textbox">
        <div class="picbox" role="table">
            <div class="J_tablelist table_list" data-acturi="{:U('Game/ajax_edit')}">
                <table width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                            <th width="40">{:L('game_id')}</th>
                            <th>{:L('game_name')}</th>
                            <th>{:L('game_dir')}</th>
                            <th width=160>{:L('operations_manage')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="val" >
                        <tr>
                            <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.game_id}"></td>
                            <td align="center">{$val.game_id}</td>
                            <td align="center">{$val.game_name}</td>
                            <td align="center">{$val.game_code}</td>
                        <td align="center">
                            <a href="javascript:;" class="J_showdialog" data-uri="{:U('Game/edit', array('game_id'=>$val['game_id'],'menuid'=>$menuid))}" data-title="{:L('edit')} - {$val['game_name']}" data-id="edit" data-width="400" data-height="200">{:L('edit')}</a> |
                            <a href="javascript:;" class="J_confirmurl" data-uri="{:U('Game/delete', array('game_id'=>$val['game_id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['game_name'])}">{:L('delete')}</a>
                        </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Game/delete')}" data-name="game_id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>