<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>公司简介</title>
        <link rel="stylesheet" type="text/css" href="/css/jianjie.css">
        <script src="/js/jquery.js" type="text/javascript"></script>
    </head>
    <body>
    <include file="./templates/www/pc/header.html" />
    <div class="container con">
        <div class="location">
            <i class="ge"></i><a href="/">首页</a> > 公司简介
        </div>
        <div class="jianjie-tit">
            <a href="/about.html" id="active">公司简介</a>
            <a href="/contact.html" >联系我们</a>
        </div>
        <div class="jianjie-con">
            <p style="line-height:45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷神互娱成立于2016年，是一家专注于移动游戏研发与发行的新兴游戏公司，致力于打造一流的移动游戏精品。</p>
            <p style="line-height:45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷神互娱团队汇聚了拥有手游研发和发行经验的专业人才。 团队成员均来自国内一流高校的高素质人才。他们具备敏锐的行业洞察力、精湛的科研技术和丰富的专业知识，对游戏有着狂热的激情和独到的理解。</p>
            <p style="line-height:45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司从游戏产品的研发、发行到运营等各个环节，提供专业的游戏服务与支持。</p>
            <p style="line-height:45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雷神互娱是一家年轻的公司，拥有一群热爱游戏的有志之士。未来，公司将立足移动游戏领域，制定全方位的研发战略，致力于手机游戏发行，提高产品的品质和线上运营能力，完成手游戏精品大作，打造一流的移动游戏公司。
            </p>
            <div class="picture">
                <img src="/images/j2.jpg" width="500px" style="display: block;margin:0 auto;margin-bottom:10px;">
                <img src="/images/j3.jpg" width="380px" height="290px">
                <img src="/images/j1.jpg" width="380px" height="290px">
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <!--底部信息-->
    <include file="./templates/www/pc/footer.html" />
</body>
</html>