<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>联系我们</title>
        <link rel="stylesheet" type="text/css" href="/css/jianjie.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
    </head>
    <body>
    <include file="./templates/www/pc/header.html" />
    <div class="container con">
        <div class="location">
            <i class="ge"></i><a href="/">首页</a> > 联系我们
        </div>
        <div class="jianjie-tit">
            <a href="/about.html">公司简介</a>
            <a href="/contact.html"  id="active">联系我们</a>
        </div>
        <div class="jianjie-con">
            <div class="fuli">
					<h3>商务合作</h3>
					汪小姐 <br>
					QQ：1329443949<br>


					<h3>客服咨询</h3>
					QQ：3091446769（客服-小佳）<br>
					QQ：3256625050（客服-小白）<br>
					QQ：3557595700（客服-笑笑）<br>
					客服邮箱：kefu@leishenhuyu.com<br>


					<h3>人才招聘专线</h3>
					HR邮箱：hr@leishenhuyu.com<br>
					联系电话：020-84124957（请优先使用邮件联系）<br>
					QQ：1205866851<br>


			</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <!--底部信息-->
    <include file="./templates/www/pc/footer.html" />
</body>
</html>