<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>公司环境</title>
        <link rel="stylesheet" type="text/css" href="/css/join.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
    </head>
    <body>
        <include file="./templates/www/pc/header.html" />
        <div class="container con">
            <div class="location">
                <i class="ge"></i><a href="/">首页</a> > 公司环境
            </div>
            <img src="/images/zhaopin.jpg" alt="">
            <div class="joinav">
                <a href="/join/">招聘岗位</a>
                <a href="/welfare.html">福利待遇</a>
                <a href="/environment.html">公司环境</a>
                <a href="/contact.html">联系我们</a>
            </div>
            <div class="zhaopin">
                <div class="fuli">
                    <h3>【公司环境】</h3>
                    <div class="flpic">
                        <img src="/images/j2.jpg" width="470px" height="360px";>
                        <img src="/images/j3.jpg" width="470px" height="360px";>
                        <img src="/images/j1.jpg" width="470px" height="360px";>

                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <!--底部信息-->
        <include file="./templates/www/pc/footer.html" />
    </body>
</html>