<div class="footer">
    <div class="container">
        <div class="footerlogo left"><img src="/images/logo.png" alt="雷神互娱"></div>
        <div class="footercompany">
            <p><a href="/about.html">关于雷神</a>|<a href="/contact.html">联系我们</a></p>
            <p> &nbsp;雷神互娱(天津)科技有限公司 COPYRIGHT © 2016 LEISHENHUYU.COM LIMITED. ALL RIGHTS RESERVED</p>
            <p> &nbsp;健康游戏忠告:抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适当游戏益脑 沉迷游戏益脑 沉迷游戏伤身 合理安排时间</p>
            <P><a href="#">津网文</a>|津ICP备16008761号-1</P>
        </div>
    </div>
</div>
<script>
    var height = ($(window).height()-203)+'px';
    $(".con").css("min-height", height);
</script>