<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{$seo_title}</title>
        <meta name="keywords" content="{$seo_keywords}">
        <meta name="Description" content="{$seo_description}">
        <link rel="stylesheet" type="text/css" href="/css/join.css">
        <script src="/js/jquery.js" type="text/javascript"></script>
    </head>
    <body>
    <include file="./templates/www/pc/header.html" />
    <div class="container con">
        <div class="location">
            <i class="ge"></i><a href="/">首页</a> > 加入我们
        </div>
        <img src="/images/zhaopin.jpg" alt="">
        <div class="joinav">
            <a href="/join/">招聘岗位</a>
            <a href="/welfare.html">福利待遇</a>
        </div>
        <div class="zhaopin">
            <!--                <span>招聘职位</span>
                            <p><a href="#">更多>></a></p>-->
            <div class="zhaopincon">
                <div class="box"><h3 class="departmentName">运营部</h3>
                    <ul>
                        <li>运营总监</li>
                        <li>运营专员</li>
                    </ul>
                </div>
                <div class="box"><h3 class="departmentName">商务部</h3>
                    <ul>
                        <li>引入商务经理</li>
                        <li>渠道商务经理</li>
                    </ul>
                </div>
                <div class="box"><h3 class="departmentName">产品部</h3>
                    <ul>
                        <li>产品经理/总监</li>
                        <li>产品专员</li>
                    </ul>
                </div>
                <div class="box"><h3 class="departmentName">市场部</h3>
                    <ul>
                        <li>广告投放主管/经理</li>
                        <li>高级投放专员</li>
                        <li>数据运营</li>
                    </ul>
                </div>
                <div class="box"><h3 class="departmentName">设计部</h3>
                    <ul>
                        <li>设计主管/经理</li>
                        <li>广告设计师</li>
                    </ul>
                </div>
                <div class="box"><h3 class="departmentName">客服部</h3>
                    <ul>
                        <li>Gs客服主管/经理</li>
                        <li>Gs客服专员</li>
                        <li>客服专员</li>
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="fuli">
					<h3>联系方式</h3>
					公司地址：广州天河区建工路12号西梯2楼<br>
					H R邮箱：hr@leishenhuyu.com<br>
					联系电话：020-84124957（请优先使用邮件联系）<br>
					Q Q：1205866851<br>

					<a href="http://search.51job.com/list/030200%252C00,000000,0000,00,9,99,%25E9%259B%25B7%25E7%25A5%259E%25E4%25BA%2592%25E5%25A8%25B1,2,1.html?lang=c&degreefrom=99&stype=1&workyear=99&cotype=99&jobterm=99&companysize=99&radius=-1&address=&lonlat=&postchannel=&list_type=&ord_field=&curr_page=&dibiaoid=0&landmark=&welfare=" target="_back">最新招聘岗位点此进入</a>

			</div>
        </div>
        <div style="clear: both"></div>
    </div>
    <!--底部信息-->
    <include file="./templates/www/pc/footer.html" />
</body>
</html>