<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>福利待遇</title>
        <link rel="stylesheet" type="text/css" href="/css/join.css">
        <script type="text/javascript" src="/js/jquery.js"></script>
    </head>
    <body>
        <include file="./templates/www/pc/header.html" />
        <div class="container con">
            <div class="location">
                <i class="ge"></i><a href="/">首页</a> > 薪酬福利
            </div>
            <img src="/images/zhaopin.jpg" alt="">
            <div class="joinav">
                <a href="/join/">招聘岗位</a>
                <a href="/welfare.html">福利待遇</a>
            </div>

            <div class="zhaopin">

                <div class="fuli">
                    <h3>【薪酬福利】</h3>
                    1、薪酬：根据各岗位而定，提供在当前市场上有竞争力的薪酬水平。优秀者单独面议。<br>
                    2、奖金：全勤奖、绩效奖、项目分红、年终奖。每年调薪机会。<br>
                    3、保险：入职即购买社保、住房公积金等五险一金。<br>
                    4、假期：双休、国家法定节假日、婚假、产假、年假等。<br>
                    5、团建：户外旅游、团队聚餐、生日party、部门活动等。<br>
                    6、学习成长：导师辅导、成长规划、专业培训、行业交流等。<br>
                    7、生活关爱：下午茶、加班餐补、节日礼品、家属礼金、年度体检等。<br>
                    <div class="flpic">
                        <img src="/images/f1.jpg" width="470px" height="360px";>
                        <img src="/images/f2.jpg" width="470px" height="360px";>
                        <img src="/images/f3.jpg" width="470px" height="360px";>
                        <img src="/images/f4.jpg" width="470px" height="360px";>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <!--底部信息-->
        <include file="./templates/www/pc/footer.html" />
    </body>
</html>