<include file="Public:header" />
<!--站点管理-->
<div class="pad_lr_10">

    <form name="searchform" method="get" >
        <table width="100%" cellspacing="0" class="search_form">
            <tbody>
                <tr>
                    <td>
                        <div class="explain_col">
                            <input type="hidden" name="m" value="Admin" />
                            <input type="hidden" name="c" value="Land" />
                            <input type="hidden" name="a" value="index" />
                            <input type="hidden" name="menuid" value="{$menuid}" />
                            <input name="keyword" type="text" class="input-text" size="15" value="{$Think.get.keyword}" />
                            <select name="searchtype">
                                <option value="id" <eq name="searchtype" value='id'>selected="selected"</eq>>{:L('ID')}</option>
                                <option value="land_title" <eq  name="search.searchtype" value='land_title'>selected="selected"</eq>>{:L('land_title')}</option>
                            </select>
                            <select id="game_id" name="game_id">
                                <option value="0">{:L('game_name')}</option>
                                <volist name="game_list" id="vo">
                                    <option value="{$vo.game_id}" <if condition="$vo['game_id'] eq $search['game_id']">selected="selected"</if>>{$vo.game_name}</option>
                                </volist>
                            </select>
                            <input type="submit" name="search" class="btn" value="{:L('search')}" />
                            <input type="button" class="btn J_confirmurl" data-acttype="ajax" data-uri="{:U('Land/recreate')}" data-title="{:L('recreate')}" data-id="recreate" data-width="450" data-height="200" data-msg="确认{:L('recreate')}吗" value="{:L('recreate')}" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="textbox">
        <div class="picbox" role="table">
            <div class="J_tablelist table_list" data-acturi="{:U('Land/ajax_edit')}">
                <table width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                            <th width="40">ID</th>
                            <th>{:L('land_title')}</th>
                            <th>{:L('game_name')}</th>
                            <th>{:L('title')}</th>
                            <th>{:L('land_url')}</th>
                            <th>{:L('addtime')}</th>
                            <th>{:L('adduser')}</th>
                            <th width=130>{:L('operations_manage')}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="val" >
                        <tr>
                            <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                            <td align="center">{$val.id}</td>
                            <td align="center">{$val.land_title}</td>
                            <td align="center">{$val.game_name}</td>
                            <td align="center">{$val.title}</td>
                            <td align="center"><a href='{$val.land_url}' target="_blank">{$val.land_url}</a></td>
                            <td align="center">{$val.addtime|date='Y-m-d',###}</td>
                            <td align="center">{$val.adduser}</td>
                        <td align="center">
                            <a href="javascript:;" class="J_confirmurl" data-uri="{:U('Land/copy', array('id'=>$val['id']))}" data-msg="确认{:L('copy')}吗">{:L('copy')}</a> |
                            <a href="{:U('Land/edit',array('id'=>$val['id'],'menuid'=>$menuid))}">{:L('edit')}</a> |
                            <a href="javascript:;" class="J_confirmurl" data-uri="{:U('Land/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['id'])}">{:L('delete')}</a>
                        </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('Land/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>